In [3]:
import params
import requests
import auth
import csv
import io
import pandas as pd
import dask.dataframe as dd
import quandl

In [4]:
quandl.ApiConfig.api_key = auth.apikey_quandl

In [7]:
quandl_params = [a for a in dir(params) if ("_parameters" in a)]

In [9]:
quandl_params

['coffee_futures_parameters',
 'cotton_futures_parameters',
 'crude_oil_futures_parameters',
 'gold_futures_parameters',
 'lumber_futures_parameters',
 'sp500_futures_parameters',
 'thirty_day_fed_fund_futures_parameters',
 'us_corn_futures_parameters',
 'us_corporate_bond_index_yield_parameters',
 'us_dollar_index_futures_parameters',
 'us_soybean_futures_parameters',
 'us_treasury_yield_parameters',
 'wheat_futures_parameters']

In [19]:
param_dict = getattr(params, 'sp500_futures_parameters')

In [20]:
param_dict

{'database_code': 'CHRIS',
 'dataset_code': 'CME_SP1',
 'start_date': '1999-09-06 00:00:00',
 'end_date': '2019-09-06'}

In [21]:
"{}/{}".format(param_dict["database_code"], param_dict["dataset_code"])

'CHRIS/CME_SP1'

In [22]:
data = quandl.get("{}/{}".format(param_dict["database_code"], param_dict["dataset_code"]), start_date=param_dict["start_date"],
          end_date=param_dict["end_date"])

In [23]:
data

,Open,High,Low,Last,Change,Settle,Volume,Previous Day Open Interest
Date,,,,,,,,
1999-09-07,1360.0,1363.8,1350.8,1352.4,NaN,1352.4,84283.0,280977.0
1999-09-08,1344.3,1357.2,1337.5,1345.9,NaN,1345.9,155441.0,246127.0
1999-09-09,1344.5,1349.0,1334.5,1345.0,NaN,1345.0,82233.0,205687.0
1999-09-10,1360.0,1360.0,1347.0,1354.1,NaN,1354.1,62560.0,175688.0
1999-09-13,1346.0,1351.0,1342.2,1347.0,NaN,1347.0,69989.0,139221.0
1999-09-14,1337.5,1341.0,1331.0,1337.6,NaN,1337.6,66668.0,105915.0
1999-09-15,1349.0,1349.0,1316.0,1317.2,NaN,1317.2,44552.0,90258.0
1999-09-16,1321.0,1324.0,1300.0,1319.2,NaN,1319.2,49522.0,90258.0
1999-09-17,1343.0,1353.0,1336.8,1351.5,NaN,1351.5,82443.0,349363.0
1999-09-20,1354.0,1354.5,1345.0,1348.8,NaN,1348.8,41713.0,347911.0
1999-09-21,1338.1,1338.5,1315.5,1321.9,NaN,1321.9,100684.0,351841.0
1999-09-22,1325.5,1330.8,1310.2,1321.8,NaN,1321.8,109084.0,351747.0
1999-09-23,1328.5,1329.5,1289.0,1291.0,NaN,1291.0,111874.0,353707.0
1999-09-24,1287.3,1294.4,1275.5,1288.5,NaN,1288.5,114307.0,354331.0
1999-09-27,1299.0,1308.5,1295.0,1296.2,NaN,1296.2,93883.0,353862.0
1999-09-28,1290.5,1299.0,1267.0,1294.3,NaN,1294.3,127389.0,357946.0
1999-09-29,1292.5,1302.0,1278.6,1279.9,NaN,1279.9,102190.0,356320.0
1999-09-30,1285.5,1304.0,1280.2,1298.2,NaN,1298.2,97181.0,359468.0
1999-10-01,1287.5,1295.3,1276.5,1293.5,NaN,1293.5,96851.0,359193.0
1999-10-04,1299.1,1319.0,1298.5,1318.7,NaN,1318.7,81859.0,360609.0
1999-10-05,1318.0,1329.0,1297.0,1315.7,NaN,1315.7,103106.0,363049.0
1999-10-06,1316.5,1337.2,1316.0,1334.7,NaN,1334.7,92934.0,362975.0
1999-10-07,1338.5,1339.3,1324.3,1329.0,NaN,1329.0,82559.0,361496.0
1999-10-08,1333.5,1348.0,1321.5,1346.5,NaN,1346.5,91667.0,364559.0
1999-10-11,1344.5,1350.7,1343.0,1347.0,NaN,1347.0,41114.0,358703.0
1999-10-12,1343.0,1343.0,1321.3,1326.0,NaN,1326.0,84091.0,358453.0
1999-10-13,1317.0,1321.0,1289.0,1289.5,NaN,1289.5,115674.0,361822.0
1999-10-14,1293.5,1300.0,1275.8,1290.0,NaN,1290.0,123114.0,365294.0
1999-10-15,1265.0,1275.0,1253.0,1257.3,NaN,1257.3,119485.0,370300.0
1999-10-18,1256.0,1266.5,1241.6,1265.7,NaN,1265.7,118725.0,372361.0
...,...,...,...,...,...,...,...,...
2019-07-26,3008.0,3029.0,3006.6,3024.0,18.0,3024.5,923.0,29872.0
2019-07-29,3025.1,3026.9,3015.5,3021.5,2.7,3021.8,484.0,30514.0
2019-07-30,3026.0,3027.0,3002.0,3012.5,9.5,3012.3,771.0,30916.0
2019-07-31,3015.1,3020.1,2959.0,2979.0,30.0,2982.3,621.0,30303.0
2019-08-01,2970.8,3013.7,2947.0,2951.0,30.4,2951.9,2100.0,29918.0
2019-08-02,2951.2,2960.4,2914.0,2932.5,19.5,2932.4,2190.0,30238.0
2019-08-05,2927.8,2933.1,2822.0,2834.0,102.3,2830.1,4056.0,30504.0
2019-08-06,2812.1,2883.0,2776.3,2876.0,45.9,2876.0,3584.0,29676.0
2019-08-07,2875.3,2890.0,2826.0,2881.0,4.6,2880.6,3718.0,28534.0
2019-08-08,2883.7,2940.3,2871.1,2940.3,59.5,2940.1,3233.0,28033.0
2019-08-09,2930.2,2935.3,2900.0,2919.0,20.4,2919.7,2827.0,29117.0
2019-08-12,2922.8,2930.6,2874.0,2880.5,39.4,2880.3,868.0,29896.0
2019-08-13,2882.1,2943.0,2867.3,2931.5,51.7,2932.0,883.0,30128.0
2019-08-14,2930.0,2936.0,2836.2,2841.0,91.3,2840.7,2104.0,30070.0
2019-08-15,2836.6,2871.2,2818.6,2848.5,7.9,2848.6,2735.0,31554.0
2019-08-16,2851.3,2894.0,2850.0,2891.5,42.9,2891.5,1977.0,30367.0
2019-08-19,2904.2,2931.0,2901.2,2924.2,32.2,2923.7,733.0,29954.0
2019-08-20,2921.8,2932.0,2894.7,2899.5,25.5,2898.2,1823.0,30188.0
2019-08-21,2897.7,2932.0,2893.7,2929.0,31.0,2929.2,2313.0,31507.0
2019-08-22,2933.3,2939.0,2905.0,2922.5,6.9,2922.3,441.0,32367.0
2019-08-23,2923.5,2936.5,2834.5,2855.5,66.7,2855.6,2820.0,32436.0
2019-08-26,2820.7,2887.9,2810.7,2884.0,27.7,2883.3,1756.0,33430.0
2019-08-27,2882.0,2898.5,2861.0,2865.0,17.9,2865.4,2192.0,33870.0
2019-08-28,2872.6,2890.3,2853.0,2889.8,24.4,2889.8,1758.0,34447.0
2019-08-29,2884.2,2930.0,2875.9,2927.0,36.9,2926.7,707.0,34304.0
2019-08-30,2922.4,2946.0,2914.0,2920.5,1.9,2924.8,2351.0,34988.0
2019-09-03,2911.0,2925.9,2889.8,2906.0,18.9,2905.9,1416.0,36522.0
2019-09-04,2902.8,2939.0,2902.5,2938.5,32.6,2938.5,832.0,37065.0
2019-09-05,2938.0,2986.0,2937.0,2972.0,33.5,2972.0,3257.0,36776.0
2019-09-06,2979.0,2987.5,2971.0,2981.5,8.8,2980.8,977.0,35308.0