In [68]:
# from libraries
import pandas as pd
import dask.dataframe as dd
# from files
import params
import auth
import get_data_util
import get_sp500_util as sp500

In [69]:
import requests
from requests.adapters import HTTPAdapter
from urllib3.util import Retry
import pandas as pd
import dask.dataframe as dd
from io import StringIO
import boto3
import quandl
import time

# from files:
import auth
import params

In [64]:
ticker_list = sp500.get_sp_500(url=sp500.url, headers=auth.user_agent)

In [74]:
alpha_vantage_base = "https://www.alphavantage.co"  # url base
param_dict_names = [name for name in dir(params) if ('params' in name)]
param_dict_list = [getattr(params, name) for name in param_dict_names]

In [75]:
stock_info_list = []
for stock_symbol in ticker_list[:3]:
    stock_indicators = []
    for i in range(len(param_dict_list)):
            param_dict_list[i]["symbol"] = stock_symbol
            session = requests.Session()
            retry = Retry(connect=5, backoff_factor=0.5)
            adapter = HTTPAdapter(max_retries=retry)
            session.mount("http://", adapter)
            session.mount("https://", adapter)
            r = session.get(alpha_vantage_base + '/query', params=param_dict_list[i], headers=auth.user_agent)
            df = pd.read_csv(StringIO(r.content.decode('utf-8')), sep=",", engine="python")
            df.set_index(df.columns[0], inplace=True)
            ddf = dd.from_pandas(df, npartitions=4)
            del df
            ddf.columns = [param_dict_list[i]["function"] + "_" + str(column) for column in ddf.columns]
            if param_dict_list[i]["function"] == "TIME_SERIES_DAILY_ADJUSTED":
                ddf["stock_symbol"] = stock_symbol
            stock_indicators.append(ddf)
            print("Successfully extracted {}!".format(stock_symbol+"_"+param_dict_names[i].replace("_params","")))
    stock_info = dd.concat(stock_indicators, axis=1)
    stock_info_list.append(stock_info)
    concat_data = dd.concat(stock_info_list, axis=0)

Successfully extracted AVB_ad!
Successfully extracted AVB_aroon!
Successfully extracted AVB_bbands_close!
Successfully extracted AVB_bbands_high!
Successfully extracted AVB_bbands_low!
Successfully extracted AVB_bbands_open!
Successfully extracted AVB_cci!
Successfully extracted AVB_ema_close!
Successfully extracted AVB_ema_high!
Successfully extracted AVB_ema_low!
Successfully extracted AVB_ema_open_200!
Successfully extracted AVB_macd_close!
Successfully extracted AVB_macd_high!
Successfully extracted AVB_macd_low!
Successfully extracted AVB_macd_open!
Successfully extracted AVB_obv!
Successfully extracted AVB_rsi_close!
Successfully extracted AVB_rsi_high!
Successfully extracted AVB_rsi_low!
Successfully extracted AVB_rsi_open!
Successfully extracted AVB_stoch!
Successfully extracted AVB_stock_time_series_adjusted!
Successfully extracted EW_ad!
Successfully extracted EW_aroon!
Successfully extracted EW_bbands_close!
Successfully extracted EW_bbands_high!
Successfully extracted EW_bbands_low!
Successfully extracted EW_bbands_open!
Successfully extracted EW_cci!
Successfully extracted EW_ema_close!
Successfully extracted EW_ema_high!
Successfully extracted EW_ema_low!
Successfully extracted EW_ema_open_200!
Successfully extracted EW_macd_close!
Successfully extracted EW_macd_high!
Successfully extracted EW_macd_low!
Successfully extracted EW_macd_open!
Successfully extracted EW_obv!
Successfully extracted EW_rsi_close!
Successfully extracted EW_rsi_high!
Successfully extracted EW_rsi_low!
Successfully extracted EW_rsi_open!
Successfully extracted EW_stoch!
Successfully extracted EW_stock_time_series_adjusted!
Successfully extracted APH_ad!
Successfully extracted APH_aroon!
Successfully extracted APH_bbands_close!
Successfully extracted APH_bbands_high!
Successfully extracted APH_bbands_low!
Successfully extracted APH_bbands_open!
Successfully extracted APH_cci!
Successfully extracted APH_ema_close!
Successfully extracted APH_ema_high!
Successfully extracted APH_ema_low!
Successfully extracted APH_ema_open_200!
Successfully extracted APH_macd_close!
Successfully extracted APH_macd_high!
Successfully extracted APH_macd_low!
Successfully extracted APH_macd_open!
Successfully extracted APH_obv!
Successfully extracted APH_rsi_close!
Successfully extracted APH_rsi_high!
Successfully extracted APH_rsi_low!
Successfully extracted APH_rsi_open!
Successfully extracted APH_stoch!
Successfully extracted APH_stock_time_series_adjusted!

In [45]:
ddf0 = dd.from_pandas(stock_indicators[0], npartitions=4)
ddf1 = dd.from_pandas(stock_indicators[1], npartitions=4)
ddf2 = dd.from_pandas(stock_indicators[2], npartitions=4)

In [55]:
param_dict_list[0]

{'function': 'AD',
 'interval': 'daily',
 'datatype': 'csv',
 'apikey': 'RPSX222Y3CANA3IV',
 'symbol': 'EW'}

In [56]:
ddf0.columns = [param_dict_list[0]["function"]+"_"+str(column) for column in ddf0.columns]
ddf1.columns = [param_dict_list[1]["function"]+"_"+str(column) for column in ddf1.columns]
ddf2.columns = [param_dict_list[1]["function"]+"_"+str(column) for column in ddf2.columns]

In [58]:
a = dd.concat([ddf0,ddf1,ddf2], axis=1)

In [61]:
dd.concat([a, a, a], axis=0)

Dask DataFrame Structure:
               AD_Chaikin A/D AROON_Aroon Down AROON_Aroon Up AROON_Real Lower Band AROON_Real Middle Band AROON_Real Upper Band
npartitions=36
                      float64          float64        float64               float64                float64               float64
                          ...              ...            ...                   ...                    ...                   ...
...                       ...              ...            ...                   ...                    ...                   ...
                          ...              ...            ...                   ...                    ...                   ...
                          ...              ...            ...                   ...                    ...                   ...
Dask Name: concat, 144 tasks

In [70]:
alpha_vantage_data = get_data_util.get_alpha_vantage_data(ticker_list[:2])

Getting data for AVB...
Process Begin...
Successfully extracted AVB_ad!
Process Begin...
Successfully extracted AVB_aroon!
Process Begin...
Successfully extracted AVB_bbands_close!
Process Begin...
Successfully extracted AVB_bbands_high!
Process Begin...
Successfully extracted AVB_bbands_low!
Process Begin...
Successfully extracted AVB_bbands_open!
Process Begin...
Successfully extracted AVB_cci!
Process Begin...
Successfully extracted AVB_ema_close!
Process Begin...
Successfully extracted AVB_ema_high!
Process Begin...
Successfully extracted AVB_ema_low!
Process Begin...
Successfully extracted AVB_ema_open_200!
Process Begin...
Successfully extracted AVB_macd_close!
Process Begin...
Successfully extracted AVB_macd_high!
Process Begin...
Successfully extracted AVB_macd_low!
Process Begin...
Successfully extracted AVB_macd_open!
Process Begin...
Successfully extracted AVB_obv!
Process Begin...
Successfully extracted AVB_rsi_close!
Process Begin...
Successfully extracted AVB_rsi_high!
Process Begin...
Successfully extracted AVB_rsi_low!
Process Begin...
Successfully extracted AVB_rsi_open!
Process Begin...
Successfully extracted AVB_stoch!
Process Begin...
Successfully extracted AVB_stock_time_series_adjusted!
Data extraction for AVB complete! Runtime:20.39 seconds
Total Time Elapsed--20.39 seconds...
Getting data for EW...
Process Begin...
Successfully extracted EW_ad!
Process Begin...
Successfully extracted EW_aroon!
Process Begin...
Successfully extracted EW_bbands_close!
Process Begin...
Successfully extracted EW_bbands_high!
Process Begin...
Successfully extracted EW_bbands_low!
Process Begin...
Successfully extracted EW_bbands_open!
Process Begin...
Successfully extracted EW_cci!
Process Begin...
Successfully extracted EW_ema_close!
Process Begin...
Successfully extracted EW_ema_high!
Process Begin...
Successfully extracted EW_ema_low!
Process Begin...
Successfully extracted EW_ema_open_200!
Process Begin...
Successfully extracted EW_macd_close!
Process Begin...
Successfully extracted EW_macd_high!
Process Begin...
Successfully extracted EW_macd_low!
Process Begin...
Successfully extracted EW_macd_open!
Process Begin...
Successfully extracted EW_obv!
Process Begin...
Successfully extracted EW_rsi_close!
Process Begin...
Successfully extracted EW_rsi_high!
Process Begin...
Successfully extracted EW_rsi_low!
Process Begin...
Successfully extracted EW_rsi_open!
Process Begin...
Successfully extracted EW_stoch!
Process Begin...
Successfully extracted EW_stock_time_series_adjusted!
Data extraction for EW complete! Runtime:20.8 seconds
Total Time Elapsed--41.19 seconds...
Alpha Vantage Data Extraction Process Complete!!  Total Runtime: 41.20937920000006 seconds...

In [71]:
alpha_vantage_data

Dask DataFrame Structure:
                stock_symbol
npartitions=208
                      object
                         ...
...                      ...
                         ...
                         ...
Dask Name: concat, 9496 tasks

In [72]:
alpha_vantage_data.compute()

                           stock_symbol
1999-09-10,0.0000                   NaN
1999-09-13,47700.0000               NaN
1999-09-14,6085.6000                NaN
1999-09-15,-33884.6128              NaN
1999-09-16,-69695.8128              NaN
1999-09-17,55704.1872               NaN
1999-09-20,29356.9029               NaN
1999-09-21,13487.3029               NaN
1999-09-22,-109807.3590             NaN
1999-09-23,-189707.3590             NaN
1999-09-24,-266835.5642             NaN
1999-09-27,-574810.6465             NaN
1999-09-28,-387045.8929             NaN
1999-09-29,-407045.8929             NaN
1999-09-30,3534554.1071             NaN
1999-10-01,3624502.4499             NaN
1999-10-04,3677402.4499             NaN
1999-10-05,3741932.4271             NaN
1999-10-06,3767861.1942             NaN
1999-10-07,3662912.7093             NaN
1999-10-08,3689939.6525             NaN
1999-10-11,3732775.4930             NaN
1999-10-12,3701116.2930             NaN
1999-10-13,3693775.4930             NaN
1999-10-14,3608489.7787             NaN
1999-10-15,3114355.6987             NaN
1999-10-18,3065555.8763             NaN
1999-10-19,2995822.5430             NaN
1999-10-20,3227822.5430             NaN
1999-10-21,3178722.5430             NaN
...                                 ...
2019-07-29,78.6783,78.0201          NaN
2019-07-30,77.5395,77.6450          NaN
2019-07-31,73.8698,65.9444          NaN
2019-08-01,66.8003,56.8114          NaN
2019-08-02,57.4034,49.4544          NaN
2019-08-05,49.7165,42.8838          NaN
2019-08-06,44.0520,39.8179          NaN
2019-08-07,41.5310,41.8913          NaN
2019-08-08,48.8426,64.8186          NaN
2019-08-09,61.8475,78.8327          NaN
2019-08-12,76.5761,86.0770          NaN
2019-08-13,84.5596,88.7692          NaN
2019-08-14,77.7866,58.5135          NaN
2019-08-15,63.1756,42.2440          NaN
2019-08-16,46.2941,38.1248          NaN
2019-08-19,48.8879,66.2948          NaN
2019-08-20,61.0659,78.7780          NaN
2019-08-21,72.4543,72.2900          NaN
2019-08-22,69.0778,56.1655          NaN
2019-08-23,55.1153,36.8904          NaN
2019-08-26,39.6496,25.8929          NaN
2019-08-27,28.9410,24.0397          NaN
2019-08-28,29.3164,38.0166          NaN
2019-08-29,39.4834,56.3938          NaN
2019-08-30,56.9760,76.5177          NaN
2019-09-03,70.3209,78.0514          NaN
2019-09-04,75.5300,72.0211          NaN
2019-09-05,74.3845,73.0811          NaN
2019-09-06,75.9529,82.7563          NaN
2019-09-09,72.7030,62.2716          NaN

[5123973 rows x 1 columns]