In [35]:
import params
import requests
import auth
import csv
import io
import pandas as pd

In [2]:
param_names = [param.replace('_params','') for param in dir(params) if ('params' in param)]

In [19]:
param_dict_names = [name for name in dir(params) if ('params' in name)]
param_dict = {name: getattr(params, name) for name in param_dict_names}
param_dict = {name.replace('_params', ''):value for name, value in param_dict.items()}

In [20]:
param_dict

{'ad': {'function': 'AD', 'interval': 'daily', 'apikey': 'U3RODPX6OW1XWR80'},
 'adx': {'function': 'ADX',
  'interval': 'daily',
  'time_period': 200,
  'apikey': 'U3RODPX6OW1XWR80'},
 'aroon': {'function': 'AROON',
  'interval': 'daily',
  'time_period': 200,
  'apikey': 'U3RODPX6OW1XWR80'},
 'bbands_close': {'function': 'BBANDS',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'close',
  'apikey': 'U3RODPX6OW1XWR80'},
 'bbands_open': {'function': 'BBANDS',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'open',
  'apikey': 'U3RODPX6OW1XWR80'},
 'bop': {'function': 'BOP', 'interval': 'daily', 'apikey': 'U3RODPX6OW1XWR80'},
 'cci': {'function': 'CCI',
  'interval': 'daily',
  'time_period': 200,
  'apikey': 'U3RODPX6OW1XWR80'},
 'dx': {'function': 'DX',
  'interval': 'daily',
  'time_period': 200,
  'apikey': 'U3RODPX6OW1XWR80'},
 'ema_close': {'function': 'EMA',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'close',
  'apikey': 'U3RODPX6OW1XWR80'},
 'ema_open': {'function': 'EMA',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'open',
  'apikey': 'U3RODPX6OW1XWR80'},
 'ht_trendline_close': {'function': 'HT_TRENDLINE',
  'interval': 'daily',
  'series_type': 'close',
  'apikey': 'U3RODPX6OW1XWR80'},
 'ht_trendline_open': {'function': 'HT_TRENDLINE',
  'interval': 'daily',
  'series_type': 'open',
  'apikey': 'U3RODPX6OW1XWR80'},
 'index_fund': {'function': 'Time_Series_Daily',
  'outputsize': 'full',
  'datatype': 'json',
  'apikey': 'U3RODPX6OW1XWR80'},
 'macd_close': {'function': 'MACD',
  'interval': 'daily',
  'series_type': 'close',
  'apikey': 'U3RODPX6OW1XWR80'},
 'macd_open': {'function': 'MACD',
  'interval': 'daily',
  'series_type': 'open',
  'apikey': 'U3RODPX6OW1XWR80'},
 'mfi': {'function': 'MFI',
  'interval': 'daily',
  'time_period': 200,
  'apikey': 'U3RODPX6OW1XWR80'},
 'mom_close': {'function': 'MOM',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'close',
  'apikey': 'U3RODPX6OW1XWR80'},
 'mom_open': {'function': 'MOM',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'open',
  'apikey': 'U3RODPX6OW1XWR80'},
 'obv': {'function': 'OBV', 'interval': 'daily', 'apikey': 'U3RODPX6OW1XWR80'},
 'roc_close': {'function': 'ROC',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'close',
  'apikey': 'U3RODPX6OW1XWR80'},
 'roc_open': {'function': 'ROC',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'open',
  'apikey': 'U3RODPX6OW1XWR80'},
 'rsi_close': {'function': 'RSI',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'close',
  'apikey': 'U3RODPX6OW1XWR80'},
 'rsi_open': {'function': 'RSI',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'open',
  'apikey': 'U3RODPX6OW1XWR80'},
 'sar': {'function': 'SAR', 'interval': 'daily', 'apikey': 'U3RODPX6OW1XWR80'},
 'sma_close': {'function': 'SMA',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'close',
  'apikey': 'U3RODPX6OW1XWR80'},
 'sma_open': {'function': 'SMA',
  'interval': 'daily',
  'time_period': 200,
  'series_type': 'open',
  'apikey': 'U3RODPX6OW1XWR80'},
 'stoch': {'function': 'STOCH',
  'interval': 'daily',
  'apikey': 'U3RODPX6OW1XWR80'},
 'trange': {'function': 'TRANGE',
  'interval': 'daily',
  'apikey': 'U3RODPX6OW1XWR80',
  'symbol': 'MSFT'}}

In [21]:
sample_param = param_dict['index_fund']

In [22]:
sample_param['symbol']='MSFT'

In [27]:
sample_param['datatype']='csv'

In [24]:
alpha_vantage_base = "https://www.alphavantage.co"

In [28]:
r = requests.get(alpha_vantage_base + '/query', params=sample_param, headers = auth.user_agent)
r.status_code

200

In [39]:
result = pd.read_csv(io.StringIO(r.content.decode('utf-8'))).set_index('timestamp')

In [40]:
result

                open      high       low    close    volume
timestamp
2019-09-04  137.3000  137.6900  136.4800  137.630  15144888
2019-09-03  136.6100  137.2000  135.7000  136.040  18869300
2019-08-30  139.1500  139.1800  136.2700  137.860  23940100
2019-08-29  137.2500  138.4400  136.9100  138.120  20168700
2019-08-28  134.8800  135.7600  133.5500  135.560  17393300
2019-08-27  136.3900  136.7200  134.6600  135.740  23102100
2019-08-26  134.9900  135.5600  133.9000  135.450  20312600
2019-08-23  137.1900  138.3500  132.8000  133.390  38508600
2019-08-22  138.6600  139.2000  136.2900  137.780  18697000
2019-08-21  138.5500  139.4900  138.0000  138.790  14970300
2019-08-20  138.2100  138.7100  137.2400  137.260  21170800
2019-08-19  137.8500  138.5500  136.8900  138.410  24355700
2019-08-16  134.8800  136.4600  134.7200  136.130  24449100
2019-08-15  134.3900  134.5800  132.2500  133.680  28074400
2019-08-14  136.3600  136.9200  133.6700  133.980  32527300
2019-08-13  136.0500  138.8000  135.0000  138.600  25154600
2019-08-12  137.0700  137.8600  135.2400  135.790  20476600
2019-08-09  138.6100  139.3800  136.4600  137.710  23466700
2019-08-08  136.6000  138.9900  135.9300  138.890  27496500
2019-08-07  133.7900  135.6500  131.8280  135.280  33414500
2019-08-06  133.8000  135.6800  133.2100  134.690  32696700
2019-08-05  133.3000  133.9300  130.7800  132.210  42749600
2019-08-02  138.0900  138.3200  135.2600  136.900  30791600
2019-08-01  137.0000  140.9400  136.9300  138.060  40557500
2019-07-31  140.3300  140.4900  135.0800  136.270  38598800
2019-07-30  140.1400  141.2200  139.8000  140.350  16846500
2019-07-29  141.5000  141.5100  139.3700  141.030  16605900
2019-07-26  140.3700  141.6800  140.3000  141.340  19037600
2019-07-25  140.4300  140.6100  139.3200  140.190  18356900
2019-07-24  138.8968  140.7400  138.8500  140.720  20738300
...              ...       ...       ...      ...       ...
1999-10-18   87.1880   88.0000   85.0630   87.875  75312800
1999-10-15   89.5000   89.8130   87.3130   88.063  73788000
1999-10-14   90.8750   92.2340   89.6880   90.688  42737800
1999-10-13   92.0000   93.1250   90.3130   91.063  38098400
1999-10-12   94.0000   94.3130   92.3750   92.563  27668600
1999-10-11   94.6226   95.0000   94.1250   94.313  19943800
1999-10-08   93.5000   95.1880   92.1250   94.938  35697000
1999-10-07   93.6880   95.0630   92.6880   93.750  46036400
1999-10-06   92.3130   94.0000   92.0630   93.688  35500200
1999-10-05   92.7500   93.8750   89.5000   91.813  43397000
1999-10-04   90.5000   92.6250   90.2500   92.563  29998000
1999-10-01   90.1880   90.6250   88.3123   89.984  44239000
1999-09-30   90.0000   91.6880   88.8130   90.563  47455400
1999-09-29   91.5630   92.1250   89.1250   89.500  37484400
1999-09-28   91.2500   92.6880   89.0661   92.125  46000600
1999-09-27   92.0000   92.9380   90.8750   91.438  34132200
1999-09-24   90.1880   91.3702   88.8750   90.938  70277000
1999-09-23   96.8750   96.8750   90.0160   91.188  71073600
1999-09-22   94.7500   96.6250   93.6880   96.063  48531600
1999-09-21   96.5662   96.5630   94.1250   94.625  47082800
1999-09-20   96.0000   97.8750   95.0000   97.563  48601800
1999-09-17   94.3750   96.5000   93.8130   96.438  79773400
1999-09-16   92.8750   94.0630   90.6250   94.000  45796000
1999-09-15   95.5000   95.7500   92.3750   92.625  48413800
1999-09-14   93.6880   95.5630   93.6250   95.063  40207800
1999-09-13   94.5000   94.8130   93.3750   93.875  27870800
1999-09-10   95.0630   95.3130   94.0000   95.000  34455000
1999-09-09   92.4380   94.1410   91.7970   94.063  38475200
1999-09-08   93.6784   94.6880   92.0630   92.250  42568200
1999-09-07   94.8750   96.6880   93.7500   94.250  47028000

[5031 rows x 5 columns]