In [24]:
import quandl
import pandas as pd
import requests
from io import StringIO
import params
import auth

In [3]:
quandl.ApiConfig.api_key = auth.apikey_quandl

In [5]:
feature_names = [a for a in dir(params) if ("_parameters" in a)]

In [15]:
[a for a in dir(params) if ("_params" in a)]

['ad_params',
 'aroon_params',
 'bbands_close_params',
 'bbands_high_params',
 'bbands_low_params',
 'bbands_open_params',
 'cci_params',
 'ema_close_params',
 'ema_high_params',
 'ema_low_params',
 'ema_open_params_200',
 'macd_close_params',
 'macd_high_params',
 'macd_low_params',
 'macd_open_params',
 'obv_params',
 'rsi_close_params',
 'rsi_high_params',
 'rsi_low_params',
 'rsi_open_params',
 'stoch_params',
 'stock_time_series_adjusted_params']

In [6]:
feature_names

['coffee_futures_parameters',
 'cotton_futures_parameters',
 'crude_oil_futures_parameters',
 'gold_futures_parameters',
 'lumber_futures_parameters',
 'sp500_futures_parameters',
 'thirty_day_fed_fund_futures_parameters',
 'us_corn_futures_parameters',
 'us_corporate_bond_index_yield_parameters',
 'us_dollar_index_futures_parameters',
 'us_soybean_futures_parameters',
 'us_treasury_yield_parameters',
 'wheat_futures_parameters']

In [8]:
dict_ = getattr(params, feature_names[0])

In [9]:
dict_

{'database_code': 'CHRIS',
 'dataset_code': 'ICE_KC5',
 'start_date': '1999-09-08 00:00:00',
 'end_date': '2019-09-08'}

In [13]:
feature_names[0].split("_")[0]

'coffee'

In [14]:
quandl.get("{}/{}".format(dict_["database_code"], dict_["dataset_code"]),
                          start_date=dict_["start_date"], end_date=dict_["end_date"]).add_prefix(feature_names[0].split("_")[0]+"_")

,coffee_Open,coffee_High,coffee_Low,coffee_Settle,coffee_Change,coffee_Wave,coffee_Volume,coffee_Prev. Day Open Interest,coffee_EFP Volume,coffee_EFS Volume,coffee_Block Volume
Date,,,,,,,,,,,
1999-09-08,95.50,97.00,95.50,96.75,NaN,NaN,116.0,1482.0,NaN,NaN,NaN
1999-09-09,95.50,95.75,93.50,93.80,NaN,NaN,107.0,1481.0,NaN,NaN,NaN
1999-09-10,94.00,94.00,91.00,91.75,NaN,NaN,153.0,1529.0,NaN,NaN,NaN
1999-09-14,92.50,92.75,91.50,92.50,NaN,NaN,87.0,1543.0,NaN,NaN,NaN
1999-09-15,92.00,92.00,90.95,90.95,NaN,NaN,73.0,1568.0,NaN,NaN,NaN
1999-09-16,90.00,91.50,90.00,90.80,NaN,NaN,9.0,1571.0,NaN,NaN,NaN
1999-09-17,91.90,91.90,90.50,90.50,NaN,NaN,193.0,1642.0,NaN,NaN,NaN
1999-09-20,89.90,90.00,89.90,90.00,NaN,NaN,50.0,1649.0,NaN,NaN,NaN
1999-09-21,91.75,91.75,90.75,91.25,NaN,NaN,114.0,1109.0,NaN,NaN,NaN
1999-09-22,91.75,91.75,91.00,91.00,NaN,NaN,89.0,1154.0,NaN,NaN,NaN
1999-09-23,91.00,92.00,91.00,92.00,NaN,NaN,45.0,1163.0,NaN,NaN,NaN
1999-09-24,92.00,92.70,90.40,92.70,NaN,NaN,187.0,1174.0,NaN,NaN,NaN
1999-09-27,92.25,93.00,92.25,92.90,NaN,NaN,51.0,1181.0,NaN,NaN,NaN
1999-09-28,93.50,93.50,92.90,92.90,NaN,NaN,6.0,1184.0,NaN,NaN,NaN
1999-09-29,94.00,94.50,94.00,94.50,NaN,NaN,27.0,1204.0,NaN,NaN,NaN
1999-09-30,94.90,94.90,90.60,90.60,NaN,NaN,53.0,1223.0,NaN,NaN,NaN
1999-10-01,90.00,90.75,89.65,89.65,NaN,NaN,53.0,1245.0,NaN,NaN,NaN
1999-10-04,91.00,92.00,91.00,91.50,NaN,NaN,42.0,1244.0,NaN,NaN,NaN
1999-10-05,91.10,93.90,91.10,93.05,NaN,NaN,70.0,1262.0,NaN,NaN,NaN
1999-10-06,93.00,96.50,93.00,93.50,NaN,NaN,69.0,1269.0,NaN,NaN,NaN
1999-10-07,94.25,94.25,93.30,93.30,NaN,NaN,42.0,1276.0,NaN,NaN,NaN
1999-10-08,93.00,93.25,92.50,93.25,NaN,NaN,19.0,1288.0,NaN,NaN,NaN
1999-10-11,96.50,98.80,96.50,98.80,NaN,NaN,49.0,1286.0,NaN,NaN,NaN
1999-10-12,100.25,104.05,100.25,104.05,NaN,NaN,60.0,1281.0,NaN,NaN,NaN
1999-10-13,118.00,124.00,118.00,124.00,NaN,NaN,284.0,1333.0,NaN,NaN,NaN
1999-10-14,119.50,120.40,112.00,113.05,NaN,NaN,538.0,1561.0,NaN,NaN,NaN
1999-10-15,112.00,116.25,112.00,114.50,NaN,NaN,485.0,1721.0,NaN,NaN,NaN
1999-10-18,100.75,105.50,100.75,103.90,NaN,NaN,80.0,1710.0,NaN,NaN,NaN
1999-10-19,106.25,106.25,103.00,105.40,NaN,NaN,66.0,1708.0,NaN,NaN,NaN
1999-10-20,104.00,104.00,103.00,103.90,NaN,NaN,215.0,1585.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2019-07-29,112.20,114.25,110.60,112.95,1.45,112.08,1397.0,8203.0,NaN,NaN,NaN
2019-07-30,112.95,112.95,110.65,111.30,-1.65,111.64,3710.0,8349.0,36.0,NaN,NaN
2019-07-31,110.85,112.20,110.05,111.55,0.25,111.18,1229.0,8476.0,3.0,NaN,NaN
2019-08-01,110.00,110.25,108.25,109.00,-2.55,109.47,2432.0,8628.0,20.0,NaN,NaN
2019-08-02,109.25,110.35,108.65,109.65,0.65,109.49,820.0,9353.0,11.0,NaN,NaN
2019-08-05,109.90,110.10,106.00,107.20,-2.45,107.21,1380.0,9277.0,NaN,NaN,NaN
2019-08-06,107.55,109.20,107.00,108.65,1.45,108.22,1093.0,9169.0,13.0,NaN,NaN
2019-08-07,108.75,109.00,107.45,108.25,-0.40,108.16,904.0,9291.0,3.0,9.0,NaN
2019-08-08,109.20,110.10,108.00,108.80,0.55,108.81,1397.0,9539.0,NaN,NaN,NaN
2019-08-09,109.40,109.40,108.10,108.75,-0.05,108.85,832.0,9763.0,3.0,NaN,NaN
2019-08-12,108.60,108.60,105.20,105.55,-3.20,106.36,2621.0,9872.0,3.0,NaN,NaN
2019-08-13,106.00,108.00,104.95,107.85,2.30,106.22,3481.0,10233.0,57.0,NaN,NaN
2019-08-14,107.35,107.80,105.45,106.00,-1.85,106.56,815.0,11260.0,14.0,NaN,NaN
2019-08-15,106.55,107.05,105.70,106.05,0.05,106.15,1668.0,11219.0,1.0,NaN,NaN
2019-08-16,106.40,106.55,104.40,104.50,-1.55,105.30,3015.0,11557.0,NaN,NaN,NaN
2019-08-19,104.55,105.30,103.00,103.10,-1.40,103.82,3061.0,11905.0,287.0,NaN,NaN
2019-08-20,104.00,104.00,101.65,103.45,0.35,102.43,4459.0,13006.0,NaN,NaN,NaN
2019-08-21,104.10,105.85,103.75,104.90,1.45,104.92,1338.0,13596.0,NaN,NaN,NaN
2019-08-22,105.00,105.95,103.95,105.50,0.60,104.56,1944.0,14061.0,33.0,NaN,NaN
2019-08-23,105.60,105.60,103.40,104.30,-1.20,104.60,1754.0,14602.0,91.0,NaN,NaN
2019-08-26,104.00,106.70,103.60,105.70,1.40,105.76,742.0,15068.0,31.0,NaN,NaN
2019-08-27,105.60,105.90,104.60,105.25,-0.45,105.17,2376.0,15122.0,2.0,NaN,NaN
2019-08-28,105.45,106.05,104.00,105.50,0.25,105.33,2282.0,15605.0,2.0,NaN,NaN
2019-08-29,104.90,105.30,102.90,103.35,-2.15,103.72,2609.0,15646.0,64.0,NaN,NaN
2019-08-30,103.55,104.95,103.20,104.70,1.35,104.05,3096.0,16571.0,16.0,NaN,NaN
2019-09-02,NaN,NaN,NaN,104.70,0.00,NaN,NaN,17339.0,NaN,NaN,NaN
2019-09-03,104.20,104.20,102.00,103.35,-1.35,103.08,4726.0,17339.0,6.0,NaN,NaN
2019-09-04,103.80,104.70,103.50,104.40,1.05,104.12,910.0,18482.0,11.0,NaN,NaN
2019-09-05,104.60,105.10,102.85,103.15,-1.25,103.68,1079.0,18437.0,10.0,NaN,NaN
2019-09-06,103.15,105.05,102.80,104.80,1.65,104.20,1969.0,18350.0,8.0,NaN,NaN

In [17]:
alpha_params = [a for a in dir(params) if ("_params" in a)]

In [20]:
aroon = getattr(params, alpha_params[1])

In [31]:
aroon["symbol"]="MSFT"

In [32]:
aroon

{'function': 'AROON',
 'interval': 'daily',
 'time_period': 14,
 'datatype': 'csv',
 'apikey': 'RPSX222Y3CANA3IV',
 'symbol': 'MSFT'}

In [33]:
alpha_vantage_base = "https://www.alphavantage.co"
r = requests.get(alpha_vantage_base + '/query', params=aroon, headers=auth.user_agent)
r.status_code

200

In [35]:
df = pd.read_csv(StringIO(r.content.decode('utf-8')))

In [41]:
df.add_prefix("aaa").head()

      aaatime  aaaAroon Down  aaaAroon Up
0  2019-09-06        35.7143      92.8571
1  2019-09-05         0.0000     100.0000
2  2019-09-04         7.1429      35.7143
3  2019-09-03        14.2857      42.8571
4  2019-08-30        21.4286      50.0000

In [43]:
df = df.add_prefix("aaa")

In [44]:
df

         aaatime  aaaAroon Down  aaaAroon Up
0     2019-09-06        35.7143      92.8571
1     2019-09-05         0.0000     100.0000
2     2019-09-04         7.1429      35.7143
3     2019-09-03        14.2857      42.8571
4     2019-08-30        21.4286      50.0000
5     2019-08-29        28.5714      57.1429
6     2019-08-28        35.7143      64.2857
7     2019-08-27         0.0000      71.4286
8     2019-08-26         7.1429      78.5714
9     2019-08-23         0.0000      85.7143
10    2019-08-22         7.1429      92.8571
11    2019-08-21        14.2857       0.0000
12    2019-08-20        21.4286       7.1429
13    2019-08-19        28.5714       0.0000
14    2019-08-16        35.7143       0.0000
15    2019-08-15        42.8571       0.0000
16    2019-08-14        50.0000       7.1429
17    2019-08-13        57.1429      14.2857
18    2019-08-12        64.2857      21.4286
19    2019-08-09        71.4286      28.5714
20    2019-08-08        78.5714      35.7143
21    2019-08-07        85.7143      42.8571
22    2019-08-06        92.8571      50.0000
23    2019-08-05       100.0000      57.1429
24    2019-08-02        21.4286      64.2857
25    2019-08-01        28.5714      71.4286
26    2019-07-31        35.7143      78.5714
27    2019-07-30        42.8571      85.7143
28    2019-07-29        50.0000      92.8571
29    2019-07-26        57.1429     100.0000
...          ...            ...          ...
4988  1999-11-08       100.0000      35.7143
4989  1999-11-05         0.0000      42.8571
4990  1999-11-04         7.1429      50.0000
4991  1999-11-03        14.2857      57.1429
4992  1999-11-02        21.4286      64.2857
4993  1999-11-01        28.5714      71.4286
4994  1999-10-29        35.7143      78.5714
4995  1999-10-28        42.8571      85.7143
4996  1999-10-27        50.0000      92.8571
4997  1999-10-26        57.1429     100.0000
4998  1999-10-25        64.2857      21.4286
4999  1999-10-22        71.4286      28.5714
5000  1999-10-21        78.5714      35.7143
5001  1999-10-20        85.7143      42.8571
5002  1999-10-19        92.8571      50.0000
5003  1999-10-18       100.0000      57.1429
5004  1999-10-15       100.0000      64.2857
5005  1999-10-14        35.7143      71.4286
5006  1999-10-13        42.8571       0.0000
5007  1999-10-12        50.0000       7.1429
5008  1999-10-11        57.1429      14.2857
5009  1999-10-08        64.2857       0.0000
5010  1999-10-07        71.4286       7.1429
5011  1999-10-06        78.5714      14.2857
5012  1999-10-05        85.7143      21.4286
5013  1999-10-04        92.8571      28.5714
5014  1999-10-01       100.0000      35.7143
5015  1999-09-30       100.0000      42.8571
5016  1999-09-29        78.5714      50.0000
5017  1999-09-28        85.7143      57.1429

[5018 rows x 3 columns]